<!-- <div class="p-4">
  <div class="container">
    <h1>Hi {{ user?.firstName }}!</h1>
    <p>You're logged in with Angular!!</p>
  </div>
</div> -->




<!-- <div class="dashboard" *ngIf="!isLoading && isAuthenticated">
  <div class="title">
      Welcome!
  </div>
  <div class="message">
      You successfully signed in with Passage.
      <br/><br/>
      <passage-profile [appId]="appId"></passage-profile>
  </div>
</div>

<div class="dashboard" *ngIf="!isLoading && !isAuthenticated">
  <div class="title"><h2>Unauthorized</h2></div>
  <div class="message">
      <p>You have not logged in and cannot view the dashboard.</p>
      <br/><br/>
      <a href="/auth" className={styles.link}>Login to continue.</a> 
  </div>
</div> -->

