<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user"> -->

<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" routerLink="/auth" routerLinkActive="active">Account</a>
    <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLink="/auth/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    <button
      *ngIf="isLoggedIn"
      class="btn-link nav-item nav-link"
      (click)="logout()"> Logout
    </button>
  </div>
</nav>
